/*
How To Article: https://blog.logrocket.com/optimizing-video-backgrounds-css-javascript/ 
Video from Pixelbay: https://pixabay.com/videos/astronaut-astronomy-exploration-106237/
*/

@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Asap', sans-serif;
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 100%;
  /*
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  */
  padding: 0px 5%;
  z-index: 1;
}
.logo a {
  font-weight: 700;
  color: #105bd8;
  font-size: 2em;
}
nav ul {
  display: flex;
}
nav ul li a {
  height: 40px;
  line-height: 43px;
  margin: 10px;
  padding: 0px 30px;
  display: flex;
  font-size: 1em;
  font-weight: 600;
  color: #e0ffff;
  transition: 0.1s;
}
nav ul li a:hover,
.main-text a:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: #fff;
}
#main {
  width: 100%;
  height: 100vh;
  position: relative;
}
.main-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0 0 0 10%;
  line-height: 0;
}
.main-text h2 {
  font-weight: 500;
  font-size: 2em;
  color: #e0ffff;
}
.main-text h1 {
  font-size: 4.5em;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
.main-text p {
  font-size: 1.3em;
  color: #e0ffff;
  margin: 0 0 25px;
  line-height: 3em;
}
.btn {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #e0ffff;
  font-family: 'Asap', sans-serif;
  border-radius: 5px;
  outline: none;
  font-size: 1.1em;
  font-weight: 200;
  padding: 1em;
}
/* style the video to be in the background */
#background-video {
  position: fixed;
  margin: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
/* maintain 16:9 video aspect ration */
@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}
/* styling for mobile devices using media query */
@media (max-width: 768px) {
  #background-video {
    display: none;
  }
  body {
    background-image: url('poster.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  nav {
    height: 40px;
    width: 95%;
  }
  .logo a {
    font-weight: 400;
    font-size: 1.2em;
  }
  nav ul {
    padding: 2px;
  }
  nav ul li a {
    height: 30px;
    line-height: 33px;
    margin: 8px;
    padding: 0px 15px;
    font-weight: 300;
    font-size: 0.6em;
  }
  .main-text {
    margin: 0 0 0 5%;
  }
  .main-text h2 {
    font-weight: 400;
    font-size: 1.4em;
  }
  .main-text h1 {
    font-weight: 400;
    font-size: 2.5em;
  }
  .main-text p {
    font-size: 1em;
    margin: 0 0 20px;
    line-height: 1.5em;
  }
}
